[submodule "ctrlp"]
	path = ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "submodules/ctrlp.vim.git"]
	path = submodules/ctrlp.vim.git
	url = https://github.com/kien/ctrlp.vim.git
[submodule "submodules/vim-pathogen.git"]
	path = submodules/vim-pathogen.git
	url = https://github.com/tpope/vim-pathogen.git
[submodule "submodules/supertab.git"]
	path = submodules/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule "submodules/vim-fugitive.git"]
	path = submodules/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodules/shellscripts.git"]
	path = submodules/shellscripts.git
	url = https://github.com/saironiq/shellscripts.git
[submodule "submodules/rainbow_parentheses.vim.git"]
	path = submodules/rainbow_parentheses.vim.git
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "submodules/vim-classpath.git"]
	path = submodules/vim-classpath.git
	url = https://github.com/tpope/vim-classpath.git
[submodule "submodules/vim-fireplace.git"]
	path = submodules/vim-fireplace.git
	url = https://github.com/tpope/vim-fireplace.git
[submodule "submodules/vim-clojure-static.git"]
	path = submodules/vim-clojure-static.git
	url = https://github.com/guns/vim-clojure-static.git
[submodule "submodules/paredit.vim.git"]
	path = submodules/paredit.vim.git
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "submodules/vim-surround.git"]
	path = submodules/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule "submodules/cider-nrepl.git"]
	path = submodules/cider-nrepl.git
	url = https://github.com/clojure-emacs/cider-nrepl.git
[submodule "submodules/irssi-notifier.git"]
	path = submodules/irssi-notifier.git
	url = https://github.com/paddykontschak/irssi-notifier.git
[submodule "submodules/vim-colors-solarized.git"]
	path = submodules/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "submodules/rust.vim.git"]
	path = submodules/rust.vim.git
	url = https://github.com/wting/rust.vim.git
[submodule "submodules/YouCompleteMe.git"]
	path = submodules/YouCompleteMe.git
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "submodules/vimproc.vim.git"]
	path = submodules/vimproc.vim.git
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "submodules/vim-airline.git"]
	path = submodules/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule "submodules/vim-go.git"]
	path = submodules/vim-go.git
	url = https://github.com/fatih/vim-go.git
